PORT=3001
# URL підключення до PostgreSQL (наприклад, для Render)
DATABASE_URL=postgres://user:password@host:port/database?sslmode=require

# Або окремі параметри для локальної БД
DB_HOST=localhost
DB_PORT=5432
DB_NAME=flora
DB_USER=postgres
DB_PASSWORD=postgres

# Cloudinary credentials
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
